//=================================
// Colors
//=================================
$colors: (
    color-neutral-0:            hsl(0 0% 100%),
    color-neutral-50:           hsl(0 0% 95%),
    color-neutral-100:          hsl(0 0% 90%),
    color-neutral-200:          hsl(0 0% 80%),
    color-neutral-300:          hsl(0 0% 70%),
    color-neutral-400:          hsl(0 0% 60%),
    color-neutral-500:          hsl(0 0% 50%),
    color-neutral-600:          hsl(0 0% 40%),
    color-neutral-700:          hsl(0 0% 30%),
    color-neutral-800:          hsl(0 0% 20%),
    color-neutral-900:          hsl(0 0% 10%),
    color-neutral-950:          hsl(0 0% 5%),
    color-neutral-1000:         hsl(0 0% 0%),

    color-error-50:             hsl(10 100% 95%),
    color-error-100:            hsl(10 100% 90%),
    color-error-200:            hsl(10 97% 80%),
    color-error-300:            hsl(10 93% 70%),
    color-error-400:            hsl(10 88% 60%),
    color-error-500:            hsl(10 86% 48%),
    color-error-600:            hsl(10 88% 40%),
    color-error-700:            hsl(10 93% 30%),
    color-error-800:            hsl(10 97% 20%),
    color-error-900:            hsl(10 100% 10%),
    color-error-950:            hsl(10 100% 5%),

    color-warning-50:           hsl(40 100% 95%),
    color-warning-100:          hsl(40 100% 90%),
    color-warning-200:          hsl(40 98% 80%),
    color-warning-300:          hsl(40 95% 70%),
    color-warning-400:          hsl(40 92% 60%),
    color-warning-500:          hsl(40 90% 50%),
    color-warning-600:          hsl(40 92% 40%),
    color-warning-700:          hsl(40 95% 30%),
    color-warning-800:          hsl(40 98% 20%),
    color-warning-900:          hsl(40 100% 10%),
    color-warning-950:          hsl(40 100% 5%),

    color-success-50:           hsl(130 100% 95%),
    color-success-100:          hsl(130 100% 90%),
    color-success-200:          hsl(130 95% 80%),
    color-success-300:          hsl(130 85% 70%),
    color-success-400:          hsl(130 75% 60%),
    color-success-500:          hsl(130 66% 47%),
    color-success-600:          hsl(130 75% 40%),
    color-success-700:          hsl(130 85% 30%),
    color-success-800:          hsl(130 95% 20%),
    color-success-900:          hsl(130 100% 10%),
    color-success-950:          hsl(130 100% 5%),

    color-info-50:              hsl(200 88% 95%),
    color-info-100:             hsl(200 88% 90%),
    color-info-200:             hsl(200 88% 80%),
    color-info-300:             hsl(200 88% 70%),
    color-info-400:             hsl(200 88% 60%),
    color-info-500:             hsl(200 88% 50%),
    color-info-600:             hsl(200 88% 40%),
    color-info-700:             hsl(200 88% 30%),
    color-info-800:             hsl(200 88% 20%),
    color-info-900:             hsl(200 88% 10%),
    color-info-950:             hsl(200 88% 5%),

    color-primary-50:           hsl(270 100% 95%),
    color-primary-100:          hsl(271 100% 90%),
    color-primary-200:          hsl(270 100% 80%),
    color-primary-300:          hsl(270 100% 70%),
    color-primary-400:          hsl(270 100% 60%),
    color-primary-500:          hsl(270 100% 50%),
    color-primary-600:          hsl(270 100% 40%),
    color-primary-700:          hsl(270 100% 30%),
    color-primary-800:          hsl(270 100% 20%),
    color-primary-900:          hsl(271 100% 10%),
    color-primary-950:          hsl(270 100% 5%),

    color-link-50:              hsl(216 100% 95%),
    color-link-100:             hsl(216 100% 90%),
    color-link-200:             hsl(216 100% 80%),
    color-link-300:             hsl(216 100% 70%),
    color-link-400:             hsl(216 100% 60%),
    color-link-500:             hsl(216 100% 50%),
    color-link-600:             hsl(216 100% 40%),
    color-link-700:             hsl(216 100% 30%),
    color-link-800:             hsl(216 100% 20%),
    color-link-900:             hsl(216 100% 10%),
    color-link-950:             hsl(216 100% 5%),

    color-action-50:            hsl(180 100% 95%),
    color-action-100:           hsl(180 100% 90%),
    color-action-200:           hsl(180 100% 80%),
    color-action-300:           hsl(180 100% 70%),
    color-action-400:           hsl(180 100% 60%),
    color-action-500:           hsl(180 100% 50%),
    color-action-600:           hsl(180 100% 40%),
    color-action-700:           hsl(180 100% 30%),
    color-action-800:           hsl(180 100% 20%),
    color-action-900:           hsl(180 100% 10%),
    color-action-950:           hsl(180 100% 5%),

) !default;