@use '../mixins/media-queries' as *;
@use '../mixins/media' as *;

@mixin block-link() {
    --_link-color:              var(--link-color, var(--theme-color-action, var(--color-link-500)));
    --_link-color-hover:        var(--link-color-hover, var(--theme-color-action-hover, var(--color-link-700)));
    --_link-color-icon:         var(--link-color-icon, var(--_link-color));
    --_link-color-icon-hover:   var(--link-color-icon-hover, var(--_link-color-hover));
    --_link-font-size:          var(--link-font-size, var(--size-1));
    --_link-gap:                var(--link-gap, 1em);
    --_link-outline:            var(--link-outline, var(--focus-outline));
    --_icon-ratio:              var(--ratio-film);

    $b: &;

    align-items: center;
    color: var(--_link-color);
    display: inline-flex;
    font-family: var(--font-sans);
    font-size: var(--_link-font-size);
    font-weight: var(--font-weight-bold);
    gap: var(--_link-gap);
    line-height: var(--leading-loose);
    text-decoration: none;
    transition: color var(--duration-fast) var(--ease-out);

    @include hover() {
        color: var(--_link-color-hover);

        #{$b}__icon {
            color: var(--_link-color-icon-hover);
        }

    }

    &:focus-visible {
        color: var(--_link-color-hover);
        outline-color: var(--_link-outline);
    }

    &__icon {
        aspect-ratio: var(--icon-ratio, var(--_icon-ratio));
        color: var(--_link-color-icon);
        flex: 0 0 auto;
        max-block-size: 0.75em;
        transition: color var(--duration-fast) var(--ease-out);

        > svg {
            @include image-fit(contain);
        }
    }
}

@mixin inline-link() {
    --_link-color:              var(--link-color, var(--theme-color-action, var(--color-link-500)));
    --_link-color-hover:        var(--link-color-hover, var(--theme-color-action-hover, var(--color-link-700)));
    --_link-outline:            var(--link-outline, var(--focus-outline));

    color: var(--_link-color);
    text-decoration: none;
    transition: color var(--duration-fast) var(--ease-out);

    @include hover() {
        color: var(--_link-color-hover);
        text-decoration-line: underline;
        text-decoration-color: currentColor;
        text-decoration-skip-ink: all;
        text-decoration-style: dotted;
        text-decoration-thickness: 2px;
    }

    &:focus-visible {
        color: var(--_link-color-hover);
        outline-color: var(--_link-outline);
    }
}

@mixin pseudo-link( $z: 0, $pseudo: after) {
    &::#{$pseudo} {
        content: '';
        inset: 0;
        position: absolute;
        z-index: $z;
    }
}